body{
  margin: 0 auto;
  background-color: rgba(66, 66, 66,1.0);
  background-size: 100% 720px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgba(236, 240, 241,1.0);
}

.container{
  width: 500px;
  height: 100%;
  text-align: center;
  background-color: rgba(33, 33, 33,1.0);
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 30px;
  border-radius: 4px;
  padding-bottom: 30px;
}
.container img{
  height: 81px;
  width: 351px;
  margin-top: -50px;
  margin-bottom: 30px;
}
.fa-5x{
margin-top: -5px;
margin-bottom: -5px;
}
.container p{
  margin-bottom: 20px;
  color: rgba(236, 240, 241,1.0);
}

input[type=text],
input[type=password],
input[type=email]{
  height: 30px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: rgba(236, 240, 241,1.0);
  padding-left: 30px;
}

.formInput::before,
.cardNameInput::before{
  content:"\f007";
  position: absolute;
  font-family: "FontAwesome";
  font-size: 24px;
  padding-left: 6px;
  padding-top: 6px;
  color: rgba(44, 62, 80,0.7);
}

.emailInput::before{
  content:"\f1fa";
  position: absolute;
  font-family: "FontAwesome";
  font-size: 24px;
  padding-left: 6px;
  padding-top: 6px;
  color: rgba(44, 62, 80,0.7);
}

.passwordInput::before{
  content:"\f023";
  position: absolute;
  font-family: "FontAwesome";
  font-size: 24px;
  padding-left: 6px;
  padding-top: 6px;
  color: rgba(44, 62, 80,0.7);
}

.cardDateInput::before{
  content:"\f073";
  position: absolute;
  font-family: "FontAwesome";
  font-size: 24px;
  padding-left: 6px;
  padding-top: 6px;
  color: rgba(44, 62, 80,0.7);
}

.cardNumberInput::before{
  content:"\f09d";
  position: absolute;
  font-family: "FontAwesome";
  font-size: 24px;
  padding-left: 6px;
  padding-top: 6px;
  color: rgba(44, 62, 80,0.7);
}
.cardCVVInput::before{
  content:"\f283";
  position: absolute;
  font-family: "FontAwesome";
  font-size: 24px;
  padding-left: 6px;
  padding-top: 6px;
  color: rgba(44, 62, 80,0.7);
}

.cardAddressInput::before{
  content:"\f2bb";
  position: absolute;
  font-family: "FontAwesome";
  font-size: 24px;
  padding-left: 6px;
  padding-top: 6px;
  color: rgba(44, 62, 80,0.7);
}

.formSubmit{
font-size: 16px;
}

.signInFacebook{
    color: #3b5998;
    padding: 0;
    margin-left: -50px;
    border: 0;
    border-radius: 11px;
}

.signInTwitter{
    color: #1da1f2;
    padding: 0;
    margin-left: 25px;
    margin-right: 25px;
    border: 0;
    border-radius: 11px;
}

.signInGoogle{
  color: #dd4b39;
  padding: 0;
  margin-right: -50px;
  border: 0;
  border-radius: 11px;
}

.payPayPal{
    color: rgba(236, 240, 241,1.0);
    background-color: #009cde;
    padding: 0;
    border: 0;
    border-radius: 11px;
}

.payVisa{
    color: rgba(236, 240, 241,1.0);
    background-color: #1a1f71;
    padding: 0;
    border: 0;
    border-radius: 11px;
}

.payMaster{
    color: rgba(236, 240, 241,1.0);
    background-color: #cc0000;
    padding: 0;
    border: 0;
    border-radius: 11px;
}
.cardCVVInput input{
  width: 100px;
  padding-left: 40px;
}
.cardDateInput input{
  width: 129px;
  padding-left: 40px;
}

.cardNumberInput input{
  padding-left: 40px;
}

.cardNameInput input{
  padding-left: 40px;
}
.cardAddressInput input{
  padding-left: 40px;
}
button {
  border: none;
  border-radius: 2px;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}

button:hover,
button:focus{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  transition: 0.2s ease;
}

button:active{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  transition: 0.2s ease;
}

button[type=submit]{
  margin-top: 20px;
  margin-left: -45%;
  font-size: 24px;
  padding: 6px 8px 6px 8px;
  border: 0;
  border-radius: 4px;
  color: rgba(44, 62, 80,0.7);
}
